<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone</title>
    <link rel="stylesheet" href="../room.css">
    <script src="https://unpkg.com/ion-sdk-js@1.5.5/dist/ion-sdk.min.js"></script>
    <script src="https://unpkg.com/ion-sdk-js@1.5.5/dist/json-rpc.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="../socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/1fbc7a0c23.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/opus-media-recorder@latest/OpusMediaRecorder.umd.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/opus-media-recorder@latest/encoderWorker.umd.js"></script>
	<!-- SFMediaStream -->
    <script>
        const ROOM_ID = "<%= roomId %>";
        const USER_POINTER = "<%= id_user %>";
        const F_NAME = "<%= f_name %>"
        const L_NAME = "<%= l_name %>"
        const MY_EMAIL = "<%= email %>";
    </script>
</head>

<body>
    <div class="alert-pop-up-join-audio" id="--flag-imp-important">
        <div class="container">
            <div class="row justify-content-center text-center">
                <h3>You are currently not connected to audio</h3>
                <p>Click below to connect to audio. Your audio is encrypted then is routed through data centers located and hosted by replit.</p>
                <button onclick="init(true)">Connect to audio</button>
            </div>
        </div>
    </div>
    <div class="main__container">
        <div id="main__sidebar">
            <div class="container-fluid">
                <div id="myUser">
                    <img src="../img/pfp.jpg" alt="">
                </div>
                <div class="divider"></div>
                <div class="control"> <i style="padding-left: 4px;" class="fas fa-user"></i>
                </div>
                <div class="control"> <i style="padding-left: 2px;" class="fas fa-comment-alt"></i>
                </div>
                <div class="control" style="margin-left: 12px;"> <img style="width: 40.9090909091px; height: 22.7272727273px;"
                        src="../img/ic_round-screen-share.png" alt="">
                </div>
                <div class="control" onclick="ToggleMute();"> <i style="padding-left: 7px; color: green;" id="muted-state" class="fas fa-microphone"></i>
                </div>
                <div class="control" id="web_cam_button" onclick="ToggleCamera()"> <i id="cam-state" class="fas fa-video-slash"></i>
                </div>
                <div class="control"> <img style="width: 30px; height: 30px;" src="../img/sticker.png" alt="">
                </div>
                <div class="divider"></div>
                <div class="exit">
                    <p><i class="fas fa-sign-out-alt"></i> Exit</p>
                </div>
            </div>
        </div>
        <div id="video-grid">
            <div class="container-fluid">
                <div class="row justify-content-center" id="--video-grid">
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../script.js"></script>

<script src="../helpers/elements.js"></script>
<!-- Handling video/audio server transimission -->
<script src="../worker.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    
</script>

</html>